div.lm {
	margin: 2em;
}

div.lm div {
	all: initial;
	display: block;
	font-family: sans-serif;
}

div.lm span, div.lm input, div.lm label {
	all: initial;
	font-family: sans-serif;
}

::before, ::after {
	all: initial;
}

div.lm input {
	position: absolute;
	display: none;
}

div.lm input ~ div.tree {
	display: none;
}

div.lm input:checked ~ div.tree {
	display: block;
}

div.lm div.child {
	line-height: 1.2;
	position: relative;
	padding: 0 0 1em 1em;
}

div.lm div.tree div.child {
	padding: 1em 0 0 1em;
}

div.lm > div.child:last-child {
	padding-bottom: 0;
}

div.lm .label {
	position: relative;
	display: inline-block;
	background: #fff;
	text-wrap: nowrap;
	text-overflow: ellipsis;
}

div.lm label.label {
	cursor: pointer;
}

div.lm span.current {
	font-weight: bold;
}

div.lm label.label:hover {
	color: #666;
}

div.lm label.label:before {
	background-color: #fff;
	border: solid 1px #000;
/*	color: #fff;*/
	position: relative;
	z-index: 1;
	float: left;
	margin: 0 1em 0 -2em;
	width: 1em;
	height: 1em;
	border-radius: 1em;
	text-align: center;
	line-height: .9em;
	content: ' '
}

div.lm :checked ~ label.label::before {
/*	content: '–';*/
	background-color: #000;
}

div.lm div.child::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -.5em;
	display: block;
	width: 0;
	border-left: 2px solid #777;
	content: "";
}

div.lm .label::after {
	position: absolute;
	top: 0;
	left: -1.5em;
	display: block;
	height: 0.5em;
	width: 1em;
	border-bottom: 2px solid #777;
	border-left: 2px solid #777;
	border-radius: 0 0 0 .3em;
	content: '';
}

div.lm label.label::after {
	border-bottom: 0;
}

div.lm :checked ~ label.label::after {
	border-radius: 0 .3em 0 0;
	border-top: 2px solid #777;
	border-right: 2px solid #777;
	border-bottom: 0;
	border-left: 0;
	bottom: 0;
	top: 0.5em;
	height: auto;
}

div.lm div.child:last-child::before {
	height: 1em;
	bottom: auto;
}

div.lm > div.child:last-child::before {
	display: none;
}

p.lm_error {
	font-size: 1em;
	color: red;
}
